html { 
  background:  url(http://i.giphy.com/GC7C2Fi902BDG.gif) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
}

/**{

  border: 2px solid white;
}*/
p {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}


body {
    height: 100%;
}

.fancybox {
  text-align: center;
  display: none;
  font-family: 'Poiret One', cursive;
  padding: none;
  margin: none;
}

.fancyboxstyle {
    text-align: center;
    display: none;
    font-family: 'Poiret One', cursive;
    padding: none;
    margin: none;

}


/*.fancybox2 {
  text-align: center;
  display: none;
  font-family: 'Poiret One', cursive;
}
*/
.backgroundRed{ 
 background: #F00;
}

.backgroundClear {
  background: none;
}

#start{
  -webkit-transition: background 1.0s ease-in-out;
  -ms-transition:     background 1.0s ease-in-out;
  transition:         background 1.0s ease-in-out;
}

#container {
height: 750px;
width: 1300px;
margin: 0 auto
}

#topColumn {
  float: left;
  width: 1300px;
  height: 150px;
}

#buttonholder {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0 auto;
}


#mainArea {
  float: clear;
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  display: inline-block;
}

#difficultyleft {
  background: url("images/harderedit.png") no-repeat scroll 0% 0% transparent;
  border: 1px solid white;
  width: 75px;
  height: 150px;
  float: left;
}

#difficultyright {
  background: url("images/easieredit.png") no-repeat scroll 0% 0% transparent;
  border: 1px solid white;
  width: 75px;
  height: 150px;
  float: left;
  margin: 0 0 0 120px;

}


#centreImage {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background: url("http://i.imgur.com/vJEU8KM.gif") no-repeat scroll 0% 0% transparent;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid white;
  float: left;
}

#centreImage2 {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background: url("http://i.imgur.com/vJEU8KM.gif") no-repeat scroll 0% 0% transparent;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid white;
  float: right;
}

#popupimage {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}


#timer {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid white;
  margin: 0 0 0 100px;
  font-size: 1em;

}

/*#timer h1 {
  font-size: 2.5em;
}
*/
#trophy {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid white;
}

.columnContainer {
  display:inline-block;
}

#playerScores {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid white;
}

#scoreholder {
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid white;
  margin: 0 90 0 0px;
}

.playerscoreholders {

  height: 30px;
  width: 150px;
  color: white;
}

#player1score {

  font-size: 2em;
  color: white;
}

#player2score {

  font-size: 2em;
  color: white;
}

#player2scoretext {

  padding-top: 10px;
}

#centreImage:hover {

  background: url("http://i.imgur.com/mERLnlJ.gif") no-repeat scroll 0% 0% transparent;
  background-size: cover;
}

#centreImage2:hover {

  background: url("http://i.imgur.com/mERLnlJ.gif") no-repeat scroll 0% 0% transparent;
  background-size: cover;
}

/*#buttonholder {
  width: 150px;
  height: 85px;
}*/

#startGame {
  height: 152px;
  width: 152px;
  font-family: 'Poiret One', cursive;
  font-size: 3em;
 
  color: white;
  border: 1px solid white;
  -webkit-transition: background 1.0s ease-in-out;
  -ms-transition:     background 1.0s ease-in-out;
  transition:         background 1.0s ease-in-out;
}



div.testbox {
  height: 100px;
  width: 100px;
  background: url('images/rock.png') no-repeat scroll 0% 0% transparent;
  background-size: cover;
  color: white;
  border-radius: 50%;
  overflow: visible;
  text-align: center;
  font-size: 3em;
  position: relative;
  float: left;
 
}

